*{
  box-sizing: border-box;
  color: rgb(116, 0, 116);
}

.App {
  text-align: center;
  margin: auto;
  /* margin-bottom: 2em; */
  top: 0;
  height: 100vh;
}

body {
  height: 100vh;
}

.main-container{
  /* min-height: 100vh; */
  /* display: grid;
  grid-template-rows: auto 1fr auto; */
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all .3s ease;
}



.post-container>h2 {
  background: linear-gradient(90deg, rgba(171,0,255,1) 0%, rgba(0,255,218,1) 100%);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  box-shadow: 3px 3px 10px rgba(171,0,255,.5), 0 0 10px rgba(0,255,218,.5);
  border-radius: 5px;
  padding: 10px;
  max-width: 40%;
  margin: 2em auto;

}

a:hover {
  color: rgba(171,0,255,1);
}

.logo {
  font-family: 'Monoton', cursive;
  margin: .2em 0 .2em .5em;
  font-size: 30px;
  background: linear-gradient(90deg, rgba(171,0,255,1) 0%, rgba(0,255,218,1) 100%);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  transition: rotate 1s;
}

.logo:hover{
  rotate: 360deg;
}

.nav-bar {
  display: flex;
  background: white;
  justify-content: space-between;
  -webkit-box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.2); 
  box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.2);
  position: sticky;
  top: 0;
  z-index: 50;
}

.nav-links {
/* background: blue; */
display: flex;
/* justify-content: center; */
}


.nav-item {
  background: white;
  margin-right: 1em;
  transition: color .3s;
  display: flex;
  align-items: center;
  padding-right: 5px;
  padding-left: 5px;
}

.nav-bar .nav-item:hover{
  background: linear-gradient(90deg, rgba(171,0,255,.3) 0%, rgba(0,255,218,.3) 100%);
  color: black;
  transition: all .2s ease-in-out;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.home {
  max-width: 40%;
  margin: 10em auto 0 auto;
  /* margin: 0 auto; */
  /* height: 100%; */
  min-height:80%;
  /* top: 0%; */
  /* position: relative; */
}

.home-title {
  background: linear-gradient(90deg, rgba(171,0,255,1) 0%, rgba(0,255,218,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
	-webkit-text-fill-color: transparent;
  box-shadow: 3px 3px 10px rgba(171,0,255,.5), 0 0 10px rgba(0,255,218,.5);
  border-radius: 5px;
  padding: 10px;
}

.home img{
  width: 100%; 
}

/*** burger menu ***/

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  color: black;
  transition: all .3s ease-in-out;
}

.menu-btn__burger {
  width: 40px;
  height: 5px;
  background: black;
  border-radius: 5px;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 5px;
  background: black;
  border-radius: 5px;
}

.menu-btn__burger::before {
  transform: translate(-20px, -10px);
}

.menu-btn__burger::after {
  transform: translate(-20px, 10px);
}

.menu-btn:hover {
  transform: rotate(90deg);
}

      /** posts **/

.post-list {
  margin: auto;
  padding: 0;
}

.btn-test {
  position: relative;
  border: 4px solid transparent;
  border-radius: 16px;
  background-position: 0 0;
  background: linear-gradient(orange, violet);
  background-clip: padding-box;
  padding: 10px;
  transition: all 1s ease;
}

.btn-test:active{
  background-position:0% 100%;
  color: white;
  transform:  translateX(500px);
}

.post-card {
  margin: auto;
  color: black;
  border-radius: 5px;
  max-width: 40%;
  margin-top: 1em;
  padding: 1em;
  background: lightblue;
  transition: all .3s ease;
}

.post-card p {
  margin: 0;
}

.post-card img {
  max-width: 100%;
  border-radius: 10px;
}


.post-card:hover {
  /* background: linear-gradient(90deg, rgba(171,0,255,1) 0%, rgba(0,255,218,1) 100%);
  -webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
  box-shadow: 3px 3px 10px rgba(171,0,255,.5), 0 0 10px rgba(0,255,218,.5);
  scale: 1.1;
}

.post-card p, .post-card h2 {
  transition: all .3s ease;
}

.post-card p:hover, .post-card h2:hover {
  color:rgba(171,0,255,1);
}

/*** posts list ***/

.post-card {
  margin-top: 2em;
  border-radius: 20px;
  background: #ffffff;
  box-shadow:  3px 3px 10px #bebebea9, -7px -7px 14px #ffffff;
}

.btn-tag {
  color: white;
  margin-top:1em;
  background: rgba(171,0,255,1);
  border-radius: 5px;
  border: none;
  padding: .2em .5em;
  align-items: center;
  justify-items: center;
}

/*** post details ***/

.post-page {
  max-width: 50%;
  margin: auto;
  border-radius: 5px;
  min-height:100%;
}

.post-number {
  background: linear-gradient(90deg, rgba(171,0,255,1) 0%, rgba(0,255,218,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
	-webkit-text-fill-color: transparent;
  box-shadow: 3px 3px 10px rgba(171,0,255,.5), 0 0 10px rgba(0,255,218,.5);
  border-radius: 5px;
  padding: 10px;
  margin-top: 2rem;
  transition: all .3s ease-in-out;
}

.post-number:hover{
  scale:1.1;
  /* background:rgb(194, 177, 255); */
}

.post-detail {
  box-shadow:  3px 3px 10px #bebebea9, -7px -7px 14px #ffffff;
  transition: all .3s ease-in-out;
  border-radius: 5px;
  margin: 2em 0;
}

.post-detail:hover{
  scale:1.1;
  box-shadow: 3px 3px 10px rgba(171,0,255,.5), 0 0 10px rgba(0,255,218,.5);
  scale: 1.1;
}
.post-detail img{
  width:100%;
}

.post-title {
  margin: 0;
  padding: .5em 0;
}

.post-body {
  margin: 0;
  padding: .5em 0;
  border-radius: 0 0 5px 5px;

}

/*** footer ***/

.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom:0;
  position:sticky;
  padding: 1em;
  margin: 2em 0 0 0;
  /* background:rgb(194, 177, 255); */
  background:white;
  box-shadow:  3px 3px 10px #bebebea9, -7px -7px 14px #ffffff;
  z-index: 50;
  top: 90vh;
}

.footer a:hover {
  cursor: pointer;
}

/*** test ***/

.anim {
  height: 100vh;
  color: #fff;
  position: absolute;
  background:blue;
}

.anim-sticky {
  margin: 100px auto -100px;
  height: 100px;
  width: 200px;
  background-color: firebrick;
  position: sticky;
  top: 50%;
  padding: 10px;
}

/* @keyframes move{
  0% {
    left: 0;
  }

  100% {
    left: 100%;
  }
} */