.App {
  text-align: center;
  width: 40%;
  margin: auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  border-bottom: solid #ddd 1px;
  padding-bottom: 1em;
}