.App {
  text-align: center;
  margin: auto;
  margin-bottom: 2em;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}
a:hover {
  color: purple;
}

.logo {
  font-family: 'Monoton', cursive;
  font-size: 30px;
  color: black;
  transition: color 1s, rotate 1s;
}

.nav-bar {
  display: flex;
  background: rgb(194, 177, 255);
  flex-direction: row;
  align-items: center;
  border-bottom: solid #ddd 1px;
  padding: .5em 1em .5em 1em;
  justify-content: space-between;
}

.home {
  max-width: 40%;
  margin: auto;
}

.home img{
  width: 100%; 
}

.nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-links a {
  margin-right: 1em;
  transition: color .3s;
}

.nav-links a:hover {
  color: rgb(218, 0, 0);
}

.logo:hover{
  color: red;
  rotate: 360deg;
}

/*** burger menu ***/

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  color: black;
  transition: all .3s ease-in-out;
}

.menu-btn__burger {
  width: 40px;
  height: 5px;
  background: black;
  border-radius: 5px;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 5px;
  background: black;
  border-radius: 5px;
}

.menu-btn__burger::before {
  transform: translate(-20px, -10px);
}

.menu-btn__burger::after {
  transform: translate(-20px, 10px);
}

.menu-btn:hover {
  transform: rotate(90deg);
}

      /** posts **/

.post-list {
  margin: auto;
  padding: 0;
}

.btn-test {
  background-color: pink;
  transition: all 1s ease;
}

.btn-test:active{
  color:red;
  background:blue;
  transform:  translateX(500px);
}

.post-card {
  margin: auto;
  border-radius: 5px;
  /* border: solid 1px grey; */
  max-width: 40%;
  margin-top: 1em;
  padding: 1em;
  background: lightblue;
  transition: all .3s ease;
}

.post-card p {
  margin: 0;
}

.post-card:hover {
  background:  rgb(194, 177, 255);
  scale: 1.1;
}

/*** posts list ***/

.post-card {
  margin-top: 2em;
  border-radius: 20px;
  background: #ffffff;
  box-shadow:  3px 3px 10px #bebebea9, -7px -7px 14px #ffffff;
}

.btn-tag {
  color: white;
  margin-top:1em;
  background: rgb(255, 60, 0);
  border-radius: 5px;
  border: none;
  padding: .2em .5em;
  align-items: center;
  justify-items: center;
}

/*** post details ***/